.img-fluid {
    width: 100%;
    height: auto;
    /* aspect-ratio: 4 / 3; */
    object-fit: contain;
    height: 400px; 
    border-radius: 4px;
  }
  
  .py-5{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .font-weight-bold {
    font-weight: 700;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  @media (max-width: 768px) {
    .container-fluid {
      padding: 0 15px;
    }
  }
  